@import "../../scss/layout";
@import "../../scss/animation";
@import "../../scss/components";
@import "../../scss/vars";

.service {
  overflow: hidden;
  position: relative;

  @include colOneTwo;

  &__img {
    width: 100%;
    display: block;
    transform: scale(1.05);
    filter: brightness(0.5);

    @include transReg;
  }
  &:hover &__img {
    transform: scale(1);
    filter: brightness(0.4);
  }

  &__text {
    position: absolute;
    top: 5vh;
    left: 2.5vw;
    z-index: 1;
    font-size: 2.5rem;
    color: rgba($bcg_white, 0.9);
  }

  &__header {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    width: 60%;
  }

  &__button {
    margin-top: 2.5rem;
    display: none;
    opacity: 0;

    @include btnRegWhite;
  }
  &:hover &__button {
    opacity: 1;
    display: block;
  }
}

.animate1,
.animate2 {
  animation: slideRight 2s cubic-bezier(0.69, 0.69, 0.62, 1.64);
}

.animate3,
.animate4 {
  animation: slideLeft 2s cubic-bezier(0.69, 0.69, 0.62, 1.64);
}
