.item {
  flex: 1 1 50%;
  overflow: hidden;
  position: relative;

  &__img {
    width: 100%;
    display: block;
    transform: scale(1.05);
    filter: brightness(0.5);
    transition: all 0.25s ease-in;
  }
  &:hover &__img {
    transform: scale(1);
    filter: brightness(0.4);
  }

  &__text {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 1;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.9);
  }

  &__header {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    width: 60%;
  }

  &__button {
    margin-top: 1.5rem;
    padding: 1.25rem 2.75rem;
    background-color: #ecf0f1;
    font-weight: 700;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8);
    display: none;
    opacity: 0;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #131313;
      color: #ecf0f1;
    }
  }
  &:hover &__button {
    opacity: 1;
    display: block;
  }
}

.animate1,
.animate2 {
  animation: slideRight 2s cubic-bezier(0.69, 0.69, 0.62, 1.64);
}

.animate3,
.animate4 {
  animation: slideLeft 2s cubic-bezier(0.69, 0.69, 0.62, 1.64);
}

@keyframes slideRight {
  0% {
    transform: translateX(-25rem);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(25rem);
    opacity: 0.75;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
