@import "../../scss/flex";
@import "../../scss/utils";
@import "../../scss/layout";
@import "../../scss/animation";
@import "../../scss/components";

.info {
  @include flex;
  @include flexCenterCenter;
  @include padVertTnSm;

  &:hover &__col-3-4 {
    transform: translateY(-10rem) scale(0.2);
    opacity: 0.25;
  }

  &:hover &__button {
    opacity: 1;
  }

  &__row {
    @include row70;
    @include flex;
    @include flexCenterNone;
  }

  &__col-1-4 {
    @include colOneFour;
    @include flex;
    @include flexCenterCenter;
  }

  &__col-3-4 {
    transform-origin: left;
    position: relative;

    @include colThreeFour;
    @include flexColumn;
    @include flexCenterCenter;
    @include transSlow;
  }

  &__img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
  }

  &__text {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: justify;
    position: relative;
  }
  &__button {
    position: absolute;
    transform: translate(2.5rem, 4.5rem);
    margin-top: 1.5rem;
    opacity: 0;

    @include btnRegWhite;
  }
}
