@import "../../scss/components";
@import "../../scss/flex";
@import "../../scss/utils";
@import "../../scss/layout";
@import "../../scss/vars";
@import "../../scss/typo";

.musicLanding {
  @include containerWhiteSkewed;
  @include flex;
  @include flexCenterCenter;
  @include padVertMdGg;

  &__row {
    @include row80;
    @include flex;
    @include flexAroundNone;
  }

  &__col {
    @include colOneTwo;
    @include flexColumn;
    @include flexStartCenter;
  }

  &__cover {
    height: 65rem;

    @include row75;
  }

  &__text {
    font-size: 2.5rem;
    text-align: justify;
    font-weight: 300;
  }

  &__header {
    @include heading;
  }
  &__button {
    margin-top: 5rem;

    @include btnRegBlack;
  }
}
