@import "../../scss/components";
@import "../../scss/utils";
@import "../../scss/flex";
@import "../../scss/layout";
@import "../../scss/typo";

.about {
  margin-top: 15rem;

  @include containerWhiteSkewed;
  @include padVertMd;
  @include flex;
  @include flexCenterCenter;

  &__row {
    @include row70;
    @include flex;
  }

  &__col {
    @include colOneTwo;
    @include flexColumn;
    @include flexCenterCenter;
  }

  &__img {
    object-fit: cover;
    border-radius: 3px;
  }

  &__header {
    @include heading;
  }

  &__text {
    font-size: 3rem;
    font-weight: 300;
    text-align: justify;
  }
}
