@import "../../scss/vars";
@import "../../scss/layout";
@import "../../scss/utils";
@import "../../scss/flex";
@import "../../scss/components";

.carousel {
  height: 100vh;
  background: $bcg_white;

  flex: 1 1 85%;
  // @include colThreeFour;
  @include flexColumn;
  @include flexCenterCenter;

  &__header {
    height: 20%;

    @include flexColumn;
    @include flexEndCenter;

    & h2 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 5rem;
      z-index: 1;
    }
  }

  &__music {
    height: 80%;
    width: 100%;
    position: relative;
  }

  &__cover {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 27.5%;
    height: 60vh;

    &.center {
      top: 50%;
      left: 50%;
    }
    &.left {
      transform: translate(-50%, -50%) scale(0.7);
      top: 40%;
      left: 22.5%;
      opacity: 0.7;
    }

    &.right {
      transform: translate(-50%, -50%) scale(0.6);
      top: 30%;
      left: 75%;
      opacity: 0.4;
    }
  }
  &__button {
    text-transform: uppercase;
    font-size: 700;
    font-size: 3rem;
    margin: 2.5rem 0 5rem 0;

    @include btnBigBlack;
  }
}
