@import "../../scss/vars";
@import "../../scss/layout";
@import "../../scss/utils";
@import "../../scss/flex";
@import "../../scss/components";
@import "../../scss/animation";

.carousel {
  height: 100vh;
  background: $bcg_white;

  @include colFiveSix;
  @include flexColumn;
  @include flexCenterCenter;

  &__header {
    height: 20%;

    @include flexColumn;
    @include flexEndCenter;

    & h2 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 5rem;
      z-index: 1;
    }
  }

  &__music {
    height: 80%;
    width: 100%;
    position: relative;
  }

  &__cover {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 27.5%;
    height: 60vh;

    &.center {
      top: 50%;
      left: 50%;
      animation: fromLeftToCenter 1s ease-in;

      &.reverse {
        animation: fromRightToCenter 1s ease-in forwards;
      }
    }
    &.left {
      top: 50%;
      left: 50%;
      transform: translate(-35vw, -40vh) scale(0.7);
      opacity: 0.7;
      animation: fromRightToLeft 1s ease-in;

      &.reverse {
        animation: fromCenterToLeft 1s ease-in forwards;
      }
    }

    &.right {
      top: 50%;
      left: 50%;
      transform: translate(10vw, -50vh) scale(0.6);
      opacity: 0.4;
      animation: fromCenterToRight 1s ease-in;

      &.reverse {
        animation: fromLeftToRight 1s ease-in forwards;
      }
    }
  }
  &__arrows {
    height: 100%;
    width: 100%;
    position: relative;

    & i {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.7;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }

    & .right {
      right: 5%;
    }

    & .left {
      left: 5%;
    }
  }
}
