@import "./vars";
@import "./animation";

// Containers
@mixin containerWhiteSkewed {
  background: $bcg_white;
  transform: skewY(4deg);
  & > div {
    transform: skewY(-4deg);
  }
}

// Papers
@mixin paperElevRegWhite {
  background: $bcg_white;
  box-shadow: $box_shadow_big;
  border-radius: 3px;
}

// Height and width
@mixin fullHeightWidth {
  width: 100%;
  height: 100%;
}

// Buttons
@mixin btnRegWhite {
  position: relative;
  padding: 1.25rem 2.75rem;
  background-color: $bcg_gray;
  font-weight: 700;
  font-size: 2rem;
  color: $text_black;
  box-shadow: $box_shadow_small;
  overflow: hidden;

  @include transReg;

  &:hover {
    background-color: $bcg_black;
    color: $bcg_gray;
    box-shadow: $box_shadow_md;
  }

  &:active {
    box-shadow: none;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 50%;
      width: 25rem;
      height: 25rem;
      background-color: rgba($bcg_white, 0.75);
      animation: scaleBtnOverlay 0.5s 0.025s ease-in-out;
    }
  }
}

@mixin btnRegBlack {
  position: relative;
  padding: 1.25rem 2.75rem;
  background-color: $bcg_black;
  font-weight: 700;
  font-size: 2rem;
  color: $bcg_gray;
  box-shadow: $box_shadow_small;
  overflow: hidden;

  @include transReg;

  &:hover {
    background-color: $bcg_gray;
    color: $text_black;
    box-shadow: $box_shadow_md;
  }

  &:active {
    box-shadow: none;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 50%;
      width: 25rem;
      height: 25rem;
      background-color: rgba($bcg_black, 0.3);
      animation: scaleBtnOverlay 0.5s 0.025s ease-in-out;
    }
  }
}

@mixin btnBigWhite {
  position: relative;
  padding: 2.25rem 4.5rem;
  background-color: $bcg_gray;
  font-weight: 700;
  font-size: 3rem;
  color: $text_black;
  box-shadow: $box_shadow_small;
  overflow: hidden;

  @include transReg;

  &:hover {
    background-color: $bcg_black;
    color: $bcg_gray;
    box-shadow: $box_shadow_md;
  }

  &:active {
    box-shadow: none;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 50%;
      width: 35rem;
      height: 35rem;
      background-color: rgba($bcg_white, 0.75);
      animation: scaleBtnOverlay 0.5s 0.025s ease-in-out;
    }
  }
}

@mixin btnBigBlack {
  position: relative;
  padding: 2.25rem 4.5rem;
  background-color: $bcg_black;
  font-weight: 700;
  font-size: 3rem;
  color: $bcg_gray;
  box-shadow: $box_shadow_small;
  overflow: hidden;

  @include transReg;

  &:hover {
    background-color: $bcg_gray;
    color: $text_black;
    box-shadow: $box_shadow_md;
  }

  &:active {
    box-shadow: none;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 50%;
      width: 35rem;
      height: 35rem;
      background-color: rgba($bcg_black, 0.3);
      animation: scaleBtnOverlay 0.5s 0.025s ease-in-out;
    }
  }
}

@mixin btnBigRed {
  position: relative;
  padding: 2.25rem 4.5rem;
  background-color: $primary;
  font-weight: 700;
  font-size: 3rem;
  color: $bcg_gray;
  box-shadow: $box_shadow_small;
  overflow: hidden;

  @include transReg;

  &:hover {
    background-color: $bcg_gray;
    color: $text_black;
    box-shadow: $box_shadow_md;
  }

  &:active {
    box-shadow: none;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 50%;
      width: 35rem;
      height: 35rem;
      background-color: rgba($bcg_black, 0.3);
      animation: scaleBtnOverlay 0.5s 0.025s ease-in-out;
    }
  }
}
