// Flex
@mixin flex {
  display: flex;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

// Flex Position
@mixin flexCenterCenter {
  justify-content: center;
  align-items: center;
}

@mixin flexBetweenCenter {
  align-items: center;
  justify-content: space-between;
}

@mixin flexAroundCenter {
  justify-content: space-around;
  align-items: center;
}

@mixin flexColumnCenterNone {
  justify-content: center;
  flex-direction: column;
}

@mixin flexEndStart {
  justify-content: flex-end;
  align-items: flex-start;
}

@mixin flexEndCenter {
  justify-content: flex-end;
  align-items: center;
}

@mixin flexStartStart {
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flexStartCenter {
  justify-content: flex-start;
  align-items: center;
}

@mixin flexAroundNone {
  justify-content: space-around;
}

@mixin flexCenterNone {
  justify-content: center;
}
