// Rows
@mixin row100 {
  width: 100%;
}

@mixin row95 {
  width: 95%;
}

@mixin row90 {
  width: 90%;
}

@mixin row80 {
  width: 80%;
}

@mixin row70 {
  width: 70%;
}

// Collumns
@mixin colOneOne {
  flex: 1 1 100%;
}

@mixin colOneTwo {
  flex: 1 1 50%;
}

@mixin colOneThree {
  flex: 1 1 33%;
}

@mixin colOneFour {
  flex: 1 1 25%;
}
@mixin colThreeFour {
  flex: 1 1 75%;
}
