// Text
$text_black: rgba(0, 0, 0, 0.8);

// Background
$bcg_white: #fff;
$bcg_gray: #ecf0f1;
$bcg_dark: #333;
$bcg_black: #131313;

// Colors
$primary: #e74c3c;

// BoxShadow
$box_shadow_big: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.5);
$box_shadow_md: 0 1rem 1.5rem rgba(0, 0, 0, 0.4);
$box_shadow_small: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
