.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;

  &__list {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__logo {
    position: absolute;
    width: 3rem;
  }

  &__item {
    font-size: 2rem;
    padding: 1.25rem 2rem;
    border-bottom: 2.5px solid transparent;
    margin: 1rem 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);

    &:hover {
      border-color: #e74c3c;
    }

    &--left {
      margin-right: auto;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 1000px;
      width: 50px;
      height: 50px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: none;
      border: 1px solid transparent;
    }
  }

  &__selected {
    color: rgba(0, 0, 0, 1);
  }
}

.showNav {
  transform: translateY(0);
  animation: navShow 1s cubic-bezier(0.17, 0.67, 0.83, 1.39);
}

.hideNav {
  transform: translateY(-25rem);
  animation: navHide 2s;
}

@keyframes navShow {
  0% {
    transform: translateY(-25rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes navHide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25rem);
  }
}
