@import "../../scss/vars";
@import "../../scss/flex";
@import "../../scss/layout";
@import "../../scss/animation";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba($bcg_white, 0.5);
  z-index: 1;

  @include flex;
  @include flexCenterCenter;

  &__list {
    @include row95;
    @include flex;
    @include flexEndCenter;
  }

  &__logo {
    position: absolute;
    width: 3rem;
  }

  &__item {
    font-size: 2rem;
    padding: 1.25rem 2rem;
    border-bottom: 2.5px solid transparent;
    margin: 1rem 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);

    &:hover {
      border-color: #e74c3c;
    }

    &--left {
      margin-right: auto;
      background-color: rgba($bcg_white, 0.4);
      border-radius: 1000px;
      width: 50px;
      height: 50px;
      text-align: center;
      border-bottom: none;
      border: 1px solid transparent;

      @include flex;
      @include flexCenterCenter;
    }
  }

  &__selected {
    color: rgba(0, 0, 0, 1);
  }
}

.showNav {
  transform: translateY(0);
  animation: navShow 1s cubic-bezier(0.17, 0.67, 0.83, 1.39);
}

.hideNav {
  transform: translateY(-25rem);
  animation: navHide 2s;
}
