@import "../../scss/utils";
@import "../../scss/flex";
@import "../../scss/layout";
@import "../../scss/animation";
@import "../../scss/components";

.reference {
  @include padVertSm;
  @include flex;
  @include flexCenterCenter;

  &:hover &__col-3-4 {
    transform: translateY(-10rem) scale(0.2);
    opacity: 0.25;
  }

  &:hover &__button {
    opacity: 1;
  }

  &__row {
    @include row80;

    @include flex;
    @include flexCenterCenter;
  }

  &__col-1-4 {
    @include colOneFour;
    @include flex;
    @include flexStartStart;
  }

  &__col-3-4 {
    transform-origin: left;

    @include colThreeFour;
    @include transSlow;
    @include flexColumn;
    @include flexCenterCenter;
  }

  &__img {
    width: 15rem;
    height: 15rem;
    transform: translateY(-2.5rem);
    border-radius: 50%;
    object-fit: cover;
  }

  &__text {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: justify;
    position: relative;
  }

  &__name {
    font-weight: 300;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    margin-left: auto;
  }

  &__quote {
    position: absolute;
    top: -5rem;
    left: -5.5rem;
    font-size: 5rem;
  }

  &__button {
    @include btnRegWhite;
    transform: translateY(-2.5rem);
    position: absolute;
    opacity: 0;
  }
}
