@import "../../scss/components";
@import "../../scss/typo";
@import "../../scss/layout";
@import "../../scss/position";
@import "../../scss/utils";
@import "../../scss//animation";
@import "../../scss/flex";

.theater {
  margin-bottom: -0.5rem;

  @include row100;
  @include flexColumn;
  @include flexCenterCenter;

  @include padVertBgNone;

  &__col {
    @include colOneOne;
  }

  &__text {
    @include row80;
    @include marBotMd;

    &--heading {
      @include heading;
    }

    &--main {
      @include mainText;
    }
  }

  &__media {
    width: 100%;
    height: 100%;
  }
}
